<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layouts}">

<div layout:fragment="content">
    <div class="board-button">
       <a href="/board/post">

        <button  type="button" class="btn btn-primary">게시글 쓰기</button>
       </a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">수정일자</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.nno}">#</td>
            <td><a href="boardDtl.html" th:href="@{/board/post/view/{nno}(nno=${board.nno})}" th:text="${board.title}">제목</a></td>
            <td th:text="${board.writer}">작성자</td>
            <td th:text="${board.modifiedDate}">수정일자</td>
            <td th:text="${board.view}">조회수</td>


        </tr>
        </tbody>
    </table>
</div>

<!--  <{/board/post/(nno = ${board.nno})}    -->
