<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layouts}">

<div layout:fragment="content">

    <h1>댓글 등록</h1>

    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                <div>
                    <input type="hidden" id="nno" th:value="${board.nno}">
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="writer"> 작성자 </label>-->
<!--                    <input type="text" class="form-control" id="writer" placeholder="작성자를 입력하세요">-->
<!--                </div>-->
                <div class="form-group">
                    <label for="comment"> 내용 </label>
                    <textarea class="form-control" id="comment" placeholder="내용을 입력하세요"></textarea>
                </div>
            </form>
            <a href="/boardDtl" role="button" class="btn btn-secondary"> 취소 </a>
            <button type="button" class="btn btn-primary" id="btn-comment-save"> 등록 </button>
        </div>
    </div>
</div>